p,
*::before,
*::after {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #82867f;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.section-title {
  color: #3e4557;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.36;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  background-color: #ecd6b7;
}
.section {
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
}
.aside-section {
  margin-bottom: 30px;
}
/* Section About me */
.about-me {
  background-color: #ecd6b7;
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.about-me__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.36;
  color: #3e4557;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 5px solid #3e4557;
}

.about-me__description {
  margin-bottom: 30px;
}
.about-me__text {
  margin-bottom: 30px;
}

.socials-list {
  display: flex;
  justify-content: center;
}
.socials-list__item:not(:last-child) {
  margin-right: 15px;
}

.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #3e4557;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-list__link:hover,
.socials-list__link:focus {
  background-color: white;
  fill: #fb6d3a;
}

/* section Work exper. */
.work-experience-item:not(:last-child) {
  margin-bottom: 25px;
}
.work-experience-item__title,
.education-item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
  color: #3e4557;
}
.work-experience-item__title > span,
.education-item__title > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.work-experience-item__title + p,
.education-item__title + p {
  color: #c1c1c1;
  margin-bottom: 10px;
}
.work-item__responsibilities::before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ecd6b7;
}

/* aside */
.img-wrapper {
  width: 300px;
  height: 300px;
  margin-right: auto;
  margin-bottom: 28px;
  border-radius: 50%;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center -10px;
}

.main-container {
  display: flex;
}
.aside {
  background-color: #d8d8d8;
  padding: 15px 25px;
}
.main {
  display: flex;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #d8d8d8;
}
.skills-title,
.contacts-title {
  color: #3e4557;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.36;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  background-color: #fdfdfd;
}
.skills-list__item:not(:last-child) {
  margin-bottom: 25px;
}
.skills-item__title {
  color: #3e4557;
  margin-top: 0;
  margin-bottom: 10px;
}
.skills-item__list {
  list-style: disc;
}
.adrress {
  font-style: normal;
}
.adrress span {
  font-weight: 700;
  color: #3e4557;
}
.adrress a {
  color: #82867f;
}
